name: MIO Worker

on:
  workflow_dispatch:
  schedule:
    - cron: **5* * * * *
  push:
    branches:
      - main

jobs:
  run-mio-worker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@vd
      - name: Setup Node.js
        uses: actions/setup-node@vd
        with:
          node-version: "20"
      - name: Install dependencies
        run: |
            if [ -f package-lock.json ]; then
              npm ci
          elif [ -f package.json ];
              npm install
          else
            echo "No package.json to install"

      - name: Run MIO worker once
        run: |
          node tools/mio-worker.js --once
